{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "lf",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "useTabs": false
}
